section.about {
  margin-inline: 0.5rem;
}

section.about > h1 {
  text-align: center;
  font-size: 2rem;
}

section.about > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px 0;
}

section.about .about-copy {
  margin-inline: 1rem;
}

section.about > div .about-copy,
section.about > div .stack {
  opacity: 0;
  transition: opacity 1s 0.5s;
}

section.about div.philosophy {
  grid-column: 1 / span 2;
}

section.about .active {
  opacity: 1 !important;
}

section.about div.tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  justify-items: center;
}

section.about div.stack {
  display: grid;
  grid-template-rows: min-content;
  justify-items: center;
  row-gap: 20px;
}

section.about .active div.stack:nth-child(2n - 1) {
  animation: fadeInDropDown 1.2s 0.5s ease-out forwards;
}

section.about .active div.stack:nth-child(2n) {
  animation: fadeInDropDown 0.9s 0.5s ease-out forwards;
}

section.about .active div.stack:nth-child(3n) {
  animation: fadeInDropDown 1.5s 0.5s ease-out forwards;
}

section.about img.tech-icon {
  width: 48px;
  height: 48px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

section.about .tech-label {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

section.about li {
  margin: 5px 0;
}

@keyframes fadeInDropDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  section.about .about-copy p {
    font-size: 1rem;
  }

  section.about > div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }

  section.about div.tech {
    row-gap: 40px;
    justify-items: center;
  }
}
