---
import '../styles/About.css'
import ICONS_LIST from '../assets/icons.json'
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const techItems = Object.values(ICONS_LIST.tech)
---

<section class="about">
  <a class="nav-link" id="about"></a>
  <h1>{t('about.title')}</h1>
  <div data-about-observe>
    <p set:html={''}></p>
    <div class="tech">
      {techItems.map((item) => (
        <div class="stack">
          <img
            src={item.src}
            alt={item.label}
            class="tech-icon"
          />
          <p class="tech-label">{item.label}</p>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  const container = document.querySelector('[data-about-observe]')

  if (container) {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('active')
            observer.unobserve(entry.target)
          }
        })
      },
      {
        threshold: 0.4,
      }
    )

    const children = Array.from(container.children)
    children.forEach((child) => observer.observe(child))
  }
</script>
