---
import ICONS_LIST from '../assets/icons.json'
import '../styles/Footer.css'
---

<footer>
  <div class="container">
    <span>Built with:</span>
    <img
      src={ICONS_LIST.tech.astro.src}
      alt={ICONS_LIST.tech.astro.label}
    />
  </div>
</footer>
