---
import ICONS_LIST from '../assets/icons.json'
import '../styles/Footer.css'
import { getLangFromUrl, useTranslations } from '../i18n/utils.ts';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
  <div class="container">
    <span>{t('footer.builtWith')}</span>
    <img
      src={ICONS_LIST.tech.astro.src}
      alt={ICONS_LIST.tech.astro.label}
    />
  </div>
</footer>
