---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.tsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
    <meta name="msapplication-TileColor" content="#fff" />
    <meta name="msapplication-TileImage" content="956f8a98" />
    <meta name="msapplication-config" content="560bc9bc" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

    <link rel="yandex-tableau-widget" href="/assets/yandex-browser-50x50.png" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

    <title>Portfolio: Nikita Elfimov, Web Dev</title>
	</head>

	<body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
	</body>

</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

  main {
    padding: 4rem 0;
    max-width: 70rem;
    width: 100%;
    margin-inline: auto;
  }

  hr {
    width: 100%;
  }

  @media (max-width: 500px) {
    main {
      padding: 3rem 0;
    }
  }
</style>
